body {
  color: white;
  background-color: black;
  font-size: 16px;
}

* { box-sizing: border-box; }

.app {
  // margin-top: 20px;
  // margin-bottom: 20px;
  display: flex;
  .cities {
    width: 30%;
    border: 1px solid #ddd;
    height: calc(100vh);
    border-radius: 4px;
    overflow-y: scroll;
  }
  .cities > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .cities li {
    border-bottom: 1px solid #ddd;
    display: flex;
    align-self: center;
  }
  .cities li>a {
    padding: 10px 20px;
    width: 100%;
    text-decoration: none;

    &, &:visited { color: white; }
    &.active, &:hover { background: white; color: #3d3d3d; }
  }
  .active-city {
    width: 70%;
    height: calc(100vh);
    margin-left: 20px;
    // margin-bottom: 20px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    h3 {
      margin-top: 0;
    }
  }
}

.list-group-item {
  background-color: transparent;
  cursor: pointer;
}
